.navbar {
  position: relative;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
}
.nav-btn {
  position: absolute;
  top: -0.2rem;
  left: 1rem;
  z-index: 1;
}
.history-btn {
  left: 5rem;
}

.navbar-inputs {
  margin-left: 6rem;
  width: 50%;
  z-index: 15;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21rem;
  height: 20rem;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  z-index: 10;
  overflow: hidden;
}

.todo-container {
  width: 90%;
}

.todo-input-container {
  position: relative;
}

.todo-input {
  width: 100%;
  padding: 1rem 1.8rem;
  height: 1rem;
  border-radius: 0.5rem;
  background: #7828c86b;
}

.todo-timer-input {
  margin-top: 0.5rem;
}

.todo-input-btn {
  position: absolute;
  left: 0.4rem;
  top: 22%;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  background: none;
  cursor: pointer;
}

.check-box-container {
  display: flex;
}

.timer-lable {
  position: absolute;
  left: 1.5rem;
  top: 30%;
}

.timer-checkbox {
  top: 43% !important;
  box-shadow: 0 0 10px 0 #7828c86b;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 100%;
  margin: 0.7rem 1rem;
  height: 14rem;
  overflow-y: auto;
}
.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
  list-style: none;
  border-radius: 0.5rem;
  background: #7828c84b;
  overflow-wrap: break-word;
}

.todo-item p {
  display: flex;
  width: 12rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

.todo-options {
  width: 4.3rem;
  justify-content: center;
}

.todo-btns {
  display: flex;
  align-items: center;
}

.todo-timer {
  display: block;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 1rem;
  margin-top: 0.3rem;
  text-align: center;
}

.todo-item span button {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  background: rgb(34, 34, 34);
  border: 0.5px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.todo-item span button:hover {
  background: #fff;
}

.delete-icon {
  color: red;
}

.edit-icon {
  color: rgb(5, 156, 0);
  margin: 0 0.2rem;
}

.star-icon {
  color: rgb(228, 167, 0);
}
