* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background: rgb(240, 240, 240);
}

div {
  cursor: unset !important;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}
