* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background: rgb(36, 36, 36);
}
